S3method(autoplot,MBOExampleRun)
S3method(plot,MBOExampleRun)
S3method(print,MBOControl)
S3method(print,MBOResult)
S3method(print,ParEGOResult)
export(getGlobalOpt)
export(makeMBOControl)
export(makeMBOFunction)
export(makeTrafoFunction)
export(mbo)
export(mboParEGO)
import(BBmisc)
import(ParamHelpers)
import(ggplot2)
import(mlr)
import(parallelMap)
